./target
Generics/.idea/.name
Generics/.idea/compiler.xml
Generics/.idea/copyright/profiles_settings.xml
Generics/.idea/encodings.xml
Generics/.idea/inspectionProfiles/Project_Default.xml
Generics/.idea/inspectionProfiles/profiles_settings.xml
Generics/.idea/misc.xml
Generics/.idea/modules.xml
Generics/.idea/scopes/scope_settings.xml
Generics/.idea/vcs.xml
Generics/.idea/workspace.xml
Generics/target/MANIFEST.MF
Generics/target/classes/GenericBox.class
Generics/target/classes/GenericsSample.class
Generics/target/classes/KeyValuePair.class
Generics/target/classes/SimpleBox.class
Generics/target/classes/Util.class
